*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: .3s;
    color: white;
    border: none;
}

/* body */
body{
    font-family: sans-serif;
    background-color: #111;
    position: relative;
    min-height: 100vh;
}

/* similar elements */
ul{
    list-style: none;
}
input{
    display: block;
    outline: none;
    padding: 8px ;
    font-size: 15px;
}
button{
    width: 100px;
    height: 40px;
    margin: 0 5px;
    font-size: 16px;
    border-radius: 8px;
}


/******************* nav  ******************************/
.nav{
    background-color: #111;
    border-bottom: 2px solid #222;
    z-index: 99;
}
nav{
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    max-width: 1024px;
    margin: auto;
    z-index: 99;

}
nav .logo {
    width: 100px;
}
.logo img{
    width: 100%;
    filter: drop-shadow(0 0 5px #000);
}
/* .logo img:hover{
    
} */
nav i{
    display: block;
    font-size: 30px;
    transform: translateX(-15px);
    padding: 10px;
}
nav i:hover{
    opacity: .8;
    cursor: pointer;
}


/* list */
.list{
    width: 250px;
    background-color: #111;
    border-right: 2px solid #222;
    height: 100%;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;   
    transform: translateX(-100%); 
    display: none;
    padding: 10px 0;
}
/* list-profile */
.list-profile{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px 0;
    gap: 10px;
}
.list-profile #list-icon-profile{
    display: block;
    font-size: 180px;
    color: #808080;
}
.list-profile .list-user-name{
    text-transform: capitalize;
    text-shadow: 5px 5px 5px #000;
    color: gray;
    text-align: center;
}
.list-profile p{
    color: #777;
    font-size: 12px;
    padding: 0 10px;
}
.list .list-home-page{
    display: block;
    background-color: #222;
    padding: 10px ;
    margin: 0 10px;
    text-align: center;
    border: 2px solid #222;
    border-radius: 10px;
    opacity: .9;
    cursor: pointer;
    text-decoration: none;
}
.list .list-home-page:hover,.list .list-mood .btn-mood:hover,
.list .list-btn-fonts:hover,.list .list-default:hover{
    background-color: #333;
    border: 2px solid #333;
    letter-spacing: 1px;
}
.list .list-mood,.list-fonts{
    padding:0 10px;
    margin: 10px 0;
}
.list .list-mood .btn-mood,.list .list-btn-fonts{
    background-color: #222;
    border: 2px solid #222;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    opacity: .9;
    position: relative;
}
.list .list-mood .btn-mood i,.list-btn-fonts i{
    position: absolute;
    right: 10px;
}
.list .list-mood ul{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    margin: 5px 0;
    opacity: 0;
    display: none;
}
.list .list-fonts ul{
    margin: 5px 0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5px;
    opacity: 0;
    display: none;
}
.list .list-fonts ul li{
    text-align: center;
    padding: 4px;
    cursor: pointer;
}
.list .list-mood ul li:hover,.list .list-fonts ul li:hover{
    cursor: pointer;
    color: rgb(173, 173, 173);
}
.list .list-mood ul li:hover i,.list .list-fonts ul li:hover i{
    color: rgb(173, 173, 173);
}
.list .list-default{
    background-color: #222;
    border: 2px solid #222;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    opacity: .9;
    margin: 10px 10px;
}


/* main */
main{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    max-width: 1024px;
    margin: auto;
    padding: 20px ;
}
main .main-box{
    display: block;
    border: 2px solid #222;
    height: 230px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 10px;
    color: gray;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 0 0 5px #000;
}
main .main-box:hover{
    box-shadow: 0 0 20px #000;
}
main .main-box i{
    display: block;
    font-size: 150px;
    color: #505050;
}
main .main-box h2{
    color: gray;
    text-transform: capitalize;
    text-align: center;
}
main .main-box p{
    color: gray;
    font-size: 14px;
    letter-spacing: 1px;
}
main .main-box p span{
    color: rgb(194, 194, 194);
    font-size: 16px;
    text-decoration: underline;
    padding: 5px;
}

















/******************** alerts ***********************/
.alert{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 99;
}
/* alert add font */
.alert-new-font{
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-100%);
    display: none;
    padding: 20px;
}
.alert-new-font .alert-new-font-container{
    background-color: #222;
    max-width: 500px;
    padding: 15px;
    box-shadow: 0 0 20px #000;
}
.alert-new-font .alert-new-font-container p{
    color: #c4c4c4;
    font-size: 15px;
    letter-spacing: 1px;
}
.alert-new-font .alert-new-font-container input{
    background-color: #000;
    width: 100%;
    margin: 20px 0;
}
.alert-new-font .alert-new-font-container .alert-new-font-btns{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.alert-new-font .alert-new-font-container .alert-new-font-btns button{
    background-color: #000;
    cursor: pointer;
}
.alert-new-font .alert-new-font-container .alert-new-font-btns button:hover{
    background-color: #111;
    letter-spacing: 1px;
}



/* dairy */
.alert-dairy{
    background-color: #111;
    transform: translateX(-100%);
    z-index: 96;
    display: flex;
    flex-direction: column;
    display: none;
    overflow: hidden;
}
.alert-dairy-box{
    max-width: 1024px;
    margin:25px auto;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;

}
.alert-dairy-box .container-dairy{
    width: 95%;
    border: 2px solid #222;
    padding: 30px 10px 10px 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    overflow-y: auto;
}
.alert-dairy-box .container-dairy #btnAddDay{
    display: block;
    padding: 30px ;
    border: 2px solid #222;
    width: 100%;
    background-color: #222;
    border-radius:10px ;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}
.alert-dairy-box .container-dairy #btnAddDay:hover{
    background-color: #333;
    border: 2px solid #333;
    letter-spacing: 1px;
}
.alert-dairy-box .container-dairy .alert-dairy-list-days{
    margin: 20px 0 5px 0;
    flex-grow: 1;
    height: 30px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;


}
.alert-dairy-box .container-dairy .alert-dairy-list-days a{
    display: block;
    text-decoration: none;
    background-color: #2b2b2b;
    padding: 30px 10px;
    margin: 10px 0;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
}
.alert-dairy-box .container-dairy .alert-dairy-list-days a:hover h3{
    letter-spacing: 1.5px;
}




/* write dairy */
.alert-write-dairy{
    background-color: #111;
    display: flex;
    flex-direction: column;
    transform: translateX(-100%);
}
.container-write-dairy{
    flex-grow: 1;
}
.container-write-dairy .container{
    max-width: 1024px;
    margin: auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
}
.container-write-dairy .container #title-dairy{
    display: block;
    width: 100%;
    background-color: #000;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    letter-spacing: .5px;
    border-radius: 8px;
}
.container-write-dairy span{
    color: red;
    font-size: 14px;
    display: none;
}
.container-write-dairy .container textarea{
    display: block;
    width: 100%;
    flex-grow: 1;
    background-color: #000;
    resize: none; 
    border-radius: 8px;
    outline: none;
    padding: 20px;
    font-size: 16px;
}
.container-write-dairy .container button{
    display: block;
    margin: 0 0;
    margin:0 auto;
    background-color: #2b2b2b;
    border-radius: 8px;
    width: 98%;
}
.container-write-dairy .container button:hover{
    background-color: #444;
    cursor: pointer;
}

/* @media */
@media screen and (max-width:1000px){
    main .main-box{
        flex-direction: column;
        height: auto;
        padding:30px 20px;
    }
    main .main-box{
        text-align: center;
    }
}
@media screen and (max-width:500px){
    main .main-box i{
        font-size: 100px;
    }
}
@media screen and (max-width:480px){
    main{
        grid-template-columns: repeat(1,1fr);
    }
}
